In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

# Introduction to Series 
* series is one dimensional

In [4]:
vowel =['a','e','i','o','u']
s=pd.Series(vowel)

In [5]:
s

0    a
1    e
2    i
3    o
4    u
dtype: object

In [6]:
type(s)

pandas.core.series.Series

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
s.index.tolist()

[0, 1, 2, 3, 4]

In [10]:
s.values

array(['a', 'e', 'i', 'o', 'u'], dtype=object)

In [11]:
s[2]

'i'

In [12]:
s.values[2]

'i'

In [13]:
s[3]

'o'

In [14]:
s.values[3]

'o'

In [15]:
vowel =['a','e','i','o','u']
s=pd.Series(vowel, index=[101, 102, 103, 104, 105])
s

101    a
102    e
103    i
104    o
105    u
dtype: object

In [16]:
s[103]

'i'

In [18]:
s.values[2]

'i'

In [19]:
s=pd.Series(['Ram', 'Neha', 'Puspa', 'Anish', 'Suraj'], name='student_name')
s

0      Ram
1     Neha
2    Puspa
3    Anish
4    Suraj
Name: student_name, dtype: object

In [20]:
s1=pd.Series(['Ram', 'Neha', 'Puspa', 'Anish', 'Suraj'], name='student_name')
s2=pd.Series([1,6,5,7,3], name='semester')

In [21]:
df= pd.concat([s1,s2],axis='columns')
df

  student_name  semester
0          Ram         1
1         Neha         6
2        Puspa         5
3        Anish         7
4        Suraj         3

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df.shape

(5, 2)

In [24]:
df.ndim

2

In [29]:
df = pd.read_csv(r'C:\Users\hp\Desktop\AIML bootcamp\penguins.csv')

In [31]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [32]:
df.columns.tolist()

['species',
 'island',
 'bill_length_mm',
 'bill_depth_mm',
 'flipper_length_mm',
 'body_mass_g',
 'sex']

In [33]:
df.head() # preview first five rows

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [34]:
df.tail() #preview last five rows

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [36]:
df.sample(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,MALE
314,Gentoo,Biscoe,44.5,14.7,214.0,4850.0,FEMALE
262,Gentoo,Biscoe,45.3,13.7,210.0,4300.0,FEMALE

In [37]:
df.sample(3, random_state=2024)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
161,Chinstrap,Dream,51.3,19.9,198.0,3700.0,MALE
318,Gentoo,Biscoe,48.4,14.4,203.0,4625.0,FEMALE
85,Adelie,Dream,41.3,20.3,194.0,3550.0,MALE

In [38]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [39]:
df.describe(include='object')

       species  island   sex
count      344     344   333
unique       3       3     2
top     Adelie  Biscoe  MALE
freq       152     168   168

In [40]:
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE

In [41]:
df['species'] # accessing column of dataframe

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

In [42]:
type(df['species'])

pandas.core.series.Series

In [43]:
df['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [44]:
df['species'].nunique()

3

In [45]:
df['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [46]:
df.head(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE

In [47]:
df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [48]:
df.island.value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [49]:
df['sex'].unique()

array(['MALE', 'FEMALE', nan], dtype=object)

In [50]:
df.sex.value_counts()

sex
MALE      168
FEMALE    165
Name: count, dtype: int64

In [51]:
df['sex'].nunique()

2

In [52]:
df.sort_values(by=['body_mass_g'])# ascending order

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
190,Chinstrap,Dream,46.9,16.6,192.0,2700.0,FEMALE
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,FEMALE
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,FEMALE
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
...,...,...,...,...,...,...,...
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,MALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [58]:
df.sort_values(by=['body_mass_g'], ascending = False)# descending order

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,MALE
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,MALE
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,MALE
...,...,...,...,...,...,...,...
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,FEMALE
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,FEMALE
190,Chinstrap,Dream,46.9,16.6,192.0,2700.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [59]:
df['sex']=='MALE'

0       True
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341     True
342    False
343     True
Name: sex, Length: 344, dtype: bool

In [60]:
df.loc[df['sex']=='MALE']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
...,...,...,...,...,...,...,...
333,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,MALE
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [61]:
df['sex']=='FEMALE'

0      False
1       True
2       True
3      False
4       True
       ...
339    False
340     True
341    False
342     True
343    False
Name: sex, Length: 344, dtype: bool

In [62]:
df.loc[df['sex']=='FEMALE']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
...,...,...,...,...,...,...,...
332,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,FEMALE
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,FEMALE
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE

In [63]:
df.loc[df['sex']=='FEMALE']['body_mass_g'].mean()

3862.2727272727275

In [64]:
df.loc[df['sex']=='MALE']['body_mass_g'].mean()

4545.684523809524

In [66]:
df.loc[df['sex']=='MALE']['flipper_length_mm'].mean()

204.50595238095238

In [68]:
df.loc[df['sex']=='FEMALE']['flipper_length_mm'].mean()

197.36363636363637

In [69]:
df.groupby(['sex'])['flipper_length_mm'].mean() #ekaichoti aaucha

sex
FEMALE    197.363636
MALE      204.505952
Name: flipper_length_mm, dtype: float64

In [70]:
df.groupby(['species'])['flipper_length_mm'].mean()

species
Adelie       189.953642
Chinstrap    195.823529
Gentoo       217.186992
Name: flipper_length_mm, dtype: float64

In [71]:
df.groupby(['species','sex'])['flipper_length_mm'].mean()

species    sex
Adelie     FEMALE    187.794521
           MALE      192.410959
Chinstrap  FEMALE    191.735294
           MALE      199.911765
Gentoo     FEMALE    212.706897
           MALE      221.540984
Name: flipper_length_mm, dtype: float64

# loc vs iloc

In [72]:
df.loc[25:30, ['species','island']]#iloc ma column ko index dine ho name dina paudaina

   species  island
25  Adelie  Biscoe
26  Adelie  Biscoe
27  Adelie  Biscoe
28  Adelie  Biscoe
29  Adelie  Biscoe
30  Adelie   Dream

In [74]:
df.loc[25:30, :2] # loc ma column ko thua ma column name list ma diney ho ; column ko index dina painna

TypeError: cannot do slice indexing on Index with these indexers [2] of type int

# iloc

In [75]:
df.iloc[25:30, :2] #25-30 row and first two column

   species  island
25  Adelie  Biscoe
26  Adelie  Biscoe
27  Adelie  Biscoe
28  Adelie  Biscoe
29  Adelie  Biscoe

# flipper_length_mm > 200 - data slice

In [76]:
df.loc[df['flipper_length_mm']>=200]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
53,Adelie,Biscoe,42.0,19.5,200.0,4050.0,MALE
90,Adelie,Dream,35.7,18.0,202.0,3550.0,FEMALE
91,Adelie,Dream,41.1,18.1,205.0,4300.0,MALE
95,Adelie,Dream,40.8,18.9,208.0,4300.0,MALE
101,Adelie,Biscoe,41.0,20.0,203.0,4725.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE